body{
    background: #a4d7ee;
    font-family: openSans;
}

h1{
    text-align: center;
    font-family: Raleway;
}

.container{
    text-align: center;
    line-height: 0.5rem;
}

button {
    border-radius:12px 0 12px 0;
    border: none;
    background: #a4d7ee;
    color: #525252;
    font:bold 12px Verdana;
    padding:8px 4px 8px 4px;
}

.fond{
    background: white;
    margin-left:20% ;
    margin-right:20% ;
    margin-top: -25px;
    margin-bottom: -10px;
    padding: 2%;
}

#titre{
    text-align: center;
    font-family: Raleway;
}

.col{
    border: none;
    background: #a4d7ee;
    color: #525252;
    font:bold 12px Verdana;
    padding:8px 4px 8px 4px;
}

#boite{
    margin-top: 10px;
    border: none;
    background: #a4d7ee;
    color: #525252;
    font:bold 12px Verdana;
    padding:8px 4px 8px 4px;
}


.dateA{
    text-align: center;
}

#acheter1{
    margin-top: 10px;
}

#regle{
    margin-top: 10px;
    text-align: center;
}

table{
    border-collapse: collapse;
}
table, td {
    border: 1px solid black;
}


h3{
    padding-top: 25px;
    text-align: center;
    font-family: Raleway;
}

#com{
    text-align: center;
}

#com1{
    text-align: center;
}

#envoy{
    text-align: center;
    margin-top: 10px;
}

#trie{
    text-align: center;
}

#noteMoyenne{

    color: red
}
