h1{
color: #9C7AF0;
}

a:link{
    text-decoration: none;
}

#page-profile{
    width:25%;
    clip-path:ellipse(50% 50%);
    margin-left: 38%;
    margin-top: 5%;
}

.button{
   display: block;
    margin: auto;
}

.texteMilieu{
    text-align: center;
    padding-top: 2%;
}


